{% extends 'layout.twig' %}
{% set scripts = ['/dist/js/libs/jquery-validation.js', '/dist/js/libs/editor.md/editormd.min.js', '/dist/js/article/create/index.js'] %} 
{% set styles = ['/dist/js/libs/editor.md/css/editormd.min.css', '/dist/css/article-create.css'] %}
{% set actionUrl = article|default() ? url('updateArticle', {id: article.id|default(0)}) :  url('createArticle') %}

{% block main %}
  <div class="article-create container" id="article-create">
    <form method="POST" action="{{ actionUrl }}" id="article" data-image-save="{{ url('imageUpload') }}" enctype="multipart/form-data">
        <div class="form-group">
          <input name="title" id="title" class="title form-control" autocomplete="off" placeholder="标题" value="{{article.title|default()}}" maxlength='25'>
        </div>
        <div class="form-group">
          <input name="subTitle" id="subTitle" class="form-control" autocomplete="off" placeholder="副标题" value="{{article.subTitle|default()}}" maxlength='50'>
        </div>
        <div class="form-group">
          <div id="uploader" class="wu-example">
            <!--用来存放文件信息-->
            <div id="uploader-list" class="uploader-list"> 
              {% if article.cover|default() %}
                <img width="200" class="mb2 img-responsive" src="{{ asset(article.cover) }}" />
              {% endif %}
            </div>
            <div class="btns">
              <div id="filePicker">封面上传</div>
              <input name="cover" type="hidden" id="cover" value="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div id="content">
            <textarea class="editormd" name="contentMd" style="display:none;">{{ article.contentMd|default('') }}</textarea>
          </div>
        </div>
        <input name="id" type="hidden" id="article-id" value="{{ article.id|default('') }}">
        <button type="submit" >
            提交
        </button>
    </form>
  </div>
{% endblock %}