{% extends 'layout.twig' %}
{% set title =  '我的文章' %}
{% set styles = ['/dist/css/my.css'] %}
{% set scripts = ['/dist/js/article/my/index.js'] %} 
{% block main %}
  
  <div class="my-article main container">
    <ul class="article-list">
      {% for article in articles %}
        <li id="article-{{article.id}}" class="clearfix">
          <a href="{{url('showArticle', {id: article.id})}}">
          {{ article.title }}
          </a>
          <a class="pull-right manage btn btn-primary" href="{{ url('updateArticle', {id: article.id}) }}">
            编辑
          </a>
          <a data-target="#article-{{article.id}}" class="pull-right manage btn btn-primary mr1 js-delete" data-url="{{ url('deleteArticle', {id: article.id}) }}">
            删除
          </a>
        </li>
      {% endfor %}
    </ul>
    
    {% include 'common/system/pagination.twig' %}
  </div>
{% endblock %}