{% extends 'layout.twig' %}
{% set scripts = ['/dist/js/index/index.js'] %}
{% set styles = ['/dist/css/index.css'] %} 

{% block main %}
  <div class="main clearfix container">
    <div class="col-md-10">
      <ul class="article-list">
        {% if not articles %}
          <div class="empty">
            暂无数据
          </div>
        {% endif %}
        {% for article in articles %}
        {% set articleUser = users[article.userId]|default() %}
        <li class="{% if article.cover %}has-image {% endif %}">
          <a class="title black" target="_blank" href="{{ url('showArticle', {id: article.id}) }}">
            {{ article.title }}
          </a>
          <div class="sub-title">
            {{ article.subTitle }}
          </div>
          <div class="meta">
            <a class="nickname pr1" target="_blank" href="{{ url('showUser', {id: articleUser.id}) }}">
              {{ articleUser.nickname }}
            </a>
            <span>
              <i class="iconfont icon-eye"></i> {{ article.hits }} 
            </span>
            {# <span>
              <i class="iconfont icon-like"></i> {{ article.likeNum }} 
            </span> #}
          </div>
          {% if article.cover %}
            <img src="{{ article.cover }}" class="article-image" title="{{ article.title }}" alt="{{ article.title }}"/>
          {% endif %}
        </li>
        {% endfor %}
      </ul>      
    </div>
    <div class="col-md-2">
      <ul class="apps text-center">
        {# <li>
          <a class="white" href="{{ url('showApp', 'poker') }}" target="_blank" >算法扑克</a>
        </li> #}
        <li>
          <a class="white" href="{{ url('showApp', 'json') }}" target="_blank" >Json解析</a>
        </li>
        {# <li>
          <a class="white" href="{{ url('showApp', 'json') }}" target="_blank" >加密／解密</a>
        </li> #}
      </ul>
    </div>
  </div>
{% endblock %} 