{% extends 'layout.twig' %}
{% set scripts = ['/dist/js/index/index.js'] %}
{% set styles = ['/dist/css/index.css'] %} 

{% block main %}
  <div class="main clearfix container">
    <div class="col-md-9">
      <ul class="article-list">
        {% for article in articles %}
        <li class="{% if article.cover %}has-image {% endif %}">
          <a class="title black" target="_blank" href="">
            {{ article.title }}
          </a>
          <div class="sub-title">
            {{ article.subTitle }}
          </div>
          <div class="meta">
            <a class="nickname pr1" target="_blank" href="">
              学无止境
            </a>
            <span>
              <i class="iconfont icon-eye"></i> {{ article.hits }} 
            </span>
            <span>
              <i class="iconfont icon-like"></i> {{ article.likeNum }} 
            </span>
          </div>
          {% if article.cover %}
            <img src="{{ article.cover }}" class="article-image" title="{{ article.title }}" alt="{{ article.title }}"/>
          {% endif %}
        </li>
        {% endfor %}
      </ul>      
    </div>
    <div class="col-md-3">
      <ul class="apps">
        <li>
          算法扑克
        </li>
      </ul>
    </div>
  </div>
{% endblock %} 